* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background-color: whitesmoke;
  color: #0a2351;
  font-size: 1rem;
  line-height: 1.5;
}

.wrapper-content {
  width: 99%;
  height: auto;
  margin: auto;
}

.wrapper-postList {
  margin: 2% 0%;
}

.wrapper-settings {
  margin-top: 4%;
}

.wrapper-profile {
  margin-top: 5%;
}

.wrapper-form-newpost {
  width: 90%;
  height: auto;

  padding: 20px;
}

.wrapper-one-post {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 20%;
  background-color: white;
  border-radius: 10px;
}

h1 {
  margin-left: 2%;
}

.main-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-form {
  font-size: 1.7rem;
  text-align: center;
  color: #0a2351;
  background-color: white;
  padding: 6px;
  width: 350px;
}

.title-postList {
  text-align: center;
}

.label {
  font-weight: bold;
}

.form {
  padding: 4%;
  background-color: white;
  border-color: beige solid 10px;
  text-align: center;
  font-size: medium;
  border-radius: 15px;
  box-sizing: border-box;
   
  width: 350px;
}

.form-container {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: auto;
  margin: 1vh;
}

input[type="email"],
input[type="password"] {
  padding: 14px 14px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: smaller;
  font-weight: bold;
}

.form-container.error input {
  background-color: hsl(0, 100%, 90%);
  border: 1px solid red;
  outline: 1px solid red;
}

[class^="btn-"]:hover:not(.btn-like) {
  background-color: #186982;
}

.btn {
  background-color: #0a4d68;
  color: white;
  letter-spacing: 0.08em;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #186982;
}

.btn.access {
  width: 65%;
  padding: 14px 14px;
  margin: 15px 0;
  font-weight: bold;
}

span .link-access {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-access {
  color: #07394c;
  font-weight: bold;
  padding: 1.5%;
  border-radius: 5px;
}

.btn:focus {
  outline: auto;
}

.btn-create {
  display: block;
  padding: 2%;
  text-align: center;
  width: auto;
  height: auto;
  font-size: 1rem;
  color: white;
  background-color: #0a4d68;
  border-radius: 10px;
  cursor: pointer;
}

.btn-delete,
.btn-modify {
  display: flex;
  padding: 1.2rem 3rem;
  border: none;
  background-color: #0a4d68;
  border-radius: 3px;
  width: 100%;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: filter 0.4s;
}

.btn-delete:hover,
.btn-modify:hover {
  filter: brightness(1.4);
}

.btn-like {
  padding: 1%;
  background-color: whitesmoke;
  border-color: transparent;
  border-radius: 50px;
  margin-right: 15px;
}

.btn-like:hover {
  cursor: pointer;
}

.btn.action {
  width: fit-content;
  height: auto;
  font-size: medium;
  padding: 2%;
}

.form-btn-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-logout {
  display: flex;
  align-items: center;
  padding: 2%;
  text-align: center;
  justify-content: center;
  width: auto;
  height: auto;
  font-size: 1rem;
  color: white;
  background-color: #0a4d68;
  border-radius: 10px;
  cursor: pointer;
}

.logo-groupomania {
  width: 80%;
  height: 50px;
  margin: 5%;
  padding: 2%;
}

a {
  text-decoration: none;
  border: transparent;
}

.nav-list a {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.4px;
}

.nav-list a::after {
  content: "";
  position: absolute;
  background-color: #53a8b6;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
}

.nav-list a:hover:after {
  width: 100%;
}

.header-nav {
  position: sticky;
  top: 0;
}

.top-nav {
  color: hsl(200, 20%, 95%);
  background: hsl(200, 100%, 10%);
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  z-index: 10000;
}

.top-nav .nav-icon,
.top-nav .nav-text {
  display: inline-block;
  vertical-align: middle;
}

.top-nav .nav-icon,
.top-nav .nav-icon-house {
  margin-right: 0.5rem;
  font-size: larger;
}

.nav-list {
  display: block;
  display: flex;
  gap: 3rem;
  list-style: none;
  width: auto;
}

.nav-list li a {
  color: white;
  font-size: large;
}

img.nav-logo-layout {
  filter: invert();
}

.grille-posts {
  padding-top: 15px;
}

.postCard {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  background: white;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 25% 5% 25%;

  overflow: hidden;
}

.postCard-body {
  overflow: hidden;
  width: 100%;

  border-radius: 1rem 1rem 0 0;
  flex-grow: 1;
}

.postCard-preview-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 18px 15px 0 15px;
  margin-bottom: 1%;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  text-align: left;
}

.postCard-header-img,
.postCard-img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.postCard-footer {
  display: flex;

  justify-content: center;
  gap: 0.5rem;
  flex-shrink: 0;
  height: auto;
  width: 100%;
}

.postCard-footer .btn-view {
  font-size: medium;
  padding: 2%;
  margin: 2% 2% 3% 2%;
  background-color: #0a4d68;
  color: white;
  letter-spacing: 0.1em;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.container.loading {
  filter: blur(5px);
  pointer-events: none;
}

.loading-spinner::after {
  content: "";
  z-index: 999;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  border: 20px solid transparent;
  border-bottom-color: #9cd1d9;
  animation: spin infinite 1.25s ease-in;
  mix-blend-mode: multiply;
}

.loading-spinner::before {
  content: "";
  z-index: 999;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  border: 20px solid transparent;
  border-top-color: #9cd1d9;
  animation: spin infinite 2s ease-in-out;
  mix-blend-mode: multiply;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

.form-post {
  display: flex;
  flex-direction: column;
}

.form-row {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  padding-bottom: 2%;
}

.form-group input[type="file"],
.form-group textarea {
  width: 100%;
  height: auto;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  overflow-y: auto;
  font-family: "Lato", sans-serif;
  font-size: medium;
}

.form-group textarea {
  height: 200px;
}

.post-username {
  font-size: 1.2em;
  margin: 2%;
}

.post-username a {
  color: #0a2351;
}

.post-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.edit-img {
  width: 40%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.header-one-post {
  border-bottom: 0.5px solid grey;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.post-nav {
  display: flex;
  justify-content: flex-end;
}

.nav-menu-toggle {
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  border-radius: 15px;
  margin-right: 1.5rem;
}

.top-nav-logo {
  font-size: larger;
  color: whitesmoke;
  width: 15%;
}

.post-nav-menu {
  position: relative;
}

.post-nav ul {
  list-style: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 70%;
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.count-likes {
  text-align: right;
  padding-bottom: 15px;
  display: block;
  margin: 1em;
}

.post-content {
  margin: 2% 0;
  line-height: 1.5;
  padding: 18px 15px 10px 15px;
  text-align: left;
  font-size: large;
  width: 100%;
}

.post-date {
  color: #656464;
  line-height: 1.5;
  padding: 18px 15px 10px 15px;
  text-align: left;
}

.like-icon {
  font-size: 2em;
}

.like-icon.off {
  color: #888;
}

.like-icon.on {
  color: hsl(200, 100%, 10%);
}

.nav-icon {
  margin-right: 0.1rem;
}

.postList-header {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.profil-username {
  text-align: center;
  font-weight: bolder;
}

.content-settings {
  display: flex;
  justify-content: center;
}

/*vue portable*/
@media screen and (max-width: 767px) {
  body {
    font-size: 0.9rem;
  }

  .btn-delete,
  .btn-modify,
  .btn-view,
  .btn .btn.action {
    font-size: 0.9rem;
  }

  .wrapper-form-newpost {
    width: 100%;
  }

  h1,
  h2 {
    font-size: larger;
  }

  .top-nav {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 0.2rem;
  }

  .top-nav-logo {
    display: none;
  }

  .top-nav .nav-list .nav-icon {
    font-size: medium;
    font-weight: bold;
  }

  .top-nav .nav-text {
    font-size: 0.9rem;
  }

  .postCard {
    margin: 4% 7% 11% 7%;
  }

  .post-content,
  .post-username {
    font-size: 1rem;
  }

  .wrapper-one-post {
    margin: 8% 2% 5% 2%;
  }

  .container-post {
    display: flex;
    justify-content: center;
  }

  .btn-logout {
    width: max-content;
    padding: 0.8rem;
  }

  .btn-create {
    width: 30%;
    font-size: 0.9rem;
  }
}

/*vue tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .btn-create,
  .btn-logout {
    height: max-content;
    padding: 1.8rem;
    font-size: large;
  }

  .nav-logo-layout {
    height: 1.7rem;
  }

  .postCard {
    margin: 4% 6% 12% 6%;
  }

  .wrapper-one-post {
    margin: 6% 6% 0 6%;
  }

  .wrapper-form-newpost {
    width: 100%;
  }
}
