body {
  font-family: "Lato", sans-serif;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.label {
  font-weight: bold;
}


.form {
  padding: 10%;
  background-color: white;
  border-color: beige solid 10px;
  text-align: center;
  font-size: medium;
  border-radius: 15px;
}

.form-container {
  padding: 10%;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px 8px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

.form-container.error .error-message {
  font-size: 10px;
  color: red;
}


.btn {
  background-color: #4286f4;
  color: white;
  padding: 14px 14px;
  margin: 10px 0;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  width: 60%;
}

.btn:focus {
  outline: auto;
}

.logo-groupomania {
  width: 80%;
  height: 50px;
  margin: 3%;
}


