body {
  font-family: "Lato", sans-serif;
  background-color: whitesmoke;
  color: #0a2351;
  box-sizing: border-box;
}

.wrapper-content {
  width: 95%;
  height: auto;
  margin: auto;
  border: 1px solid yellow;
}

.wrapper-postList {
  border: 1px solid blue;
  margin: 2%;
 
}

.wrapper-form-newpost{
 border : 1px solid rebeccapurple;
 max-width: 600px;
 margin: 0 auto;
 padding: 20px;
}

.wrapper-one-post {
  border : 1px solid orangered;
}

.main-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.title-form {
  font-size: 1.7rem;
  text-align: center;
  color: #0a2351;
  background-color: white;
  padding: 6px;
  width: 350px;
}

.title-postList {
  text-align: center;
}

.label {
  font-weight: bold;
}

.form {
  padding: 4%;
  background-color: white;
  border-color: beige solid 10px;
  text-align: center;
  font-size: medium;
  border-radius: 15px;
  box-sizing: border-box;

  width: 350px;
}

.form-container {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100px;
  margin: 1vh;
}

input[type="email"],
input[type="password"] {
  padding: 8px 8px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-container.error input {
  background-color: hsl(0, 100%, 90%);
  border: 1px solid red;
  outline: 1px solid red;
}

.btn {
  /*background-color: #4286f4;*/
  background-color: #0a4d68;
  color: white;
  letter-spacing: 0.08em;
  border-radius: 10px;
  cursor: pointer;
  
}

.btn.access {
  width: 65%;
  padding: 14px 14px;
  margin: 15px 0;
}

.btn:focus {
  outline: auto;
}

.btn.create {
  display: block;
  text-align: right;
  padding: 2%;
  margin-bottom: 3%;
  width: fit-content;
  font-size: larger;
}

.btn.delete {
  background-color: red !important;
  padding: 1%;
}

.btn.modify{
  padding: 1%;
}

.btn.like {
  padding : 3%;

}

.form-btn-row .btn.action {
  
  width: fit-content;
  font-size: medium;
  padding: 3%;
}

.postCard-footer {
  display: flex;
  padding: var(--padding);
  justify-content: center;
  gap: 0.5rem;
  flex-shrink: 0;
  height: auto; 
  width: 100%;
}

.postCard-footer .btn-view {
 
  font-size: medium;
  padding : 2%;
  margin: 1%;
  background-color: #0a4d68;
  color: white;
  letter-spacing: 0.1em;
  border-radius: 10px;
  cursor: pointer;
  
}

.btn-logout {
  padding: 2%;

}

.logo-groupomania {
  width: 80%;
  height: 50px;
  margin: 5%;
  padding: 2%;
}

span {
  display: block;
  margin: 1em;
}

a {
  text-decoration: none;
}

.nav-list a {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.5px;
}

.nav-list a::after {
  content: "";
  position: absolute;
  background-color: #53a8b6;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
}

.nav-list a:hover:after {
  width: 100%;
}

.top-nav {
  color: hsl(200, 20%, 95%);
  background: hsl(200, 100%, 10%);
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: center;
  gap: 2rem;
  padding: 2rem 2rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 10000;

  border: 1px solid lightseagreen;
}

.nav-list {
  margin: 0;
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: stretch;
  width: auto;
}

.nav-list li a {
  color: white;
  font-size: large;
}

.grille-posts {
  border: 1px solid green;
}

.postCard {
  border: 1px solid red;

  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
  padding: 2%;
  overflow: hidden;
}

.postCard-body {
  align-content: center;
}

.postCard-img, .post-img, .edit-img{
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.postCard-preview-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.container.loading {
  filter: blur(5px);
  pointer-events: none;
}

.loading-spinner::after {
  content: "";
  z-index: 999;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  border: 20px solid transparent;
  border-bottom-color: hsl(200, 100%, 50%);
  animation: spin infinite 1.25s ease-in;
  mix-blend-mode: multiply;
}

.loading-spinner::before {
  content: "";
  z-index: 999;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  border: 20px solid transparent;
  border-top-color: hsl(200, 100%, 50%);
  animation: spin infinite 2s ease-in-out;
  mix-blend-mode: multiply;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

.form-post {
  display: flex;
  flex-direction: column;
}

.form-row {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.form-group input[type="file"],
.form-group textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  overflow-y: auto;
  font-family: "Lato", sans-serif;
}


.post-username {
  font-weight: bold;
  margin : 2% 0;
}

.post-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 10px;
}

.post-content {
  margin : 2% 0;
}

.post-date {
  
  color: #888;
  margin-bottom: 10px;
}


.like-icon.off {
  color: #888;
}

.like-icon.on{

color: yellow;
}


.postList-header {
  display: flex;
  justify-content: space-between;
}




